{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h1>🛒 {% trans "Корзина" %}</h1>

{% for item in cart %}
    <div>
        <h3>{{ item.product.name }}</h3>
        <p>{% trans "Количество" %}: {{ item.quantity }}</p>
        <p>{% trans "Цена" %}: {{ item.total_price }} €</p>

        <a href="{% url 'cart_remove' item.product.id %}">{% trans "Удалить" %}</a>
    </div>
{% endfor %}

<h2>{% trans "Итого" %}: {{ cart.get_total_price }} €</h2>

<a href="{% url 'checkout' %}">{% trans "Оформить заказ" %}</a>

{% endblock %}
