{% extends 'base.html' %}

{% block content %}

<h2>🔥 Новинки</h2>

<div class="products">
    {% for product in products %}
        <div class="card">
            <a href="{% url 'product_detail' product.slug %}">
    <img src="{{ product.image.url }}" width="150">
    <h3>{{ product.name }}</h3>
</a>
            <p>{{ product.price }} €</p>
        </div>
    {% endfor %}
</div>


<h2>📂 Категории</h2>

<div>
    {% for category in categories %}
        <div>{{ category.name }}</div>
    {% endfor %}
</div>

<h2>📝 Блог</h2>

<div>
    {% for blog in blogs %}
        <div>
            <h3>
                <a href="{% url 'blog_detail' blog.slug %}">
                    {{ blog.title }}
                </a>
            </h3>
        </div>
    {% endfor %}
</div>

<a href="{% url 'blog_list' %}">Смотреть все статьи</a>

{% endblock %}
